.webllm-default-settings-header {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: block;
    margin: 0.5em 0;
    font-size: 1.1em;
}

.webllm-demo-popup {
    height: 100%;
}

